<div class="row">
  <div class="col s6"><h2>Ingredients</h2></div>

  <div class="col s6 index-panel">
    <div class="set-info">
      <p>
        <b class="orange-text">6</b> ingredients
      </p>
    </div>

    <div class="filter row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Find ingredient</label>
      </div>
    
    </div>

    <div class="actions">
      <a href="/ingredients/add" class="btn-floating blue lighten-3">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
</div>
